.header {
	position: fixed;
	z-index: 5;
	width: 100%;
	padding: 1em 0;
	transition: 0.3s all;
	div {
		color: #fff;
	}
	&:hover {
		background: #fff;
		button,
		span {
			color: #000;
		}
		.header__icon {
			filter: brightness(0);
		}
	}
}
